<!-- Überprüfung und Anzeige von Erfolgsmeldungen -->
<% if (success && success.length > 0) { %>
<div class="alert alert-success" role="alert">
  <%= success %>
</div>
<% } %>

<!-- Überprüfung und Anzeige von Fehlermeldungen -->
<% if (error && error.length > 0) { %>
<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
<% } %>

<!-- Überprüfung und Anzeige von Informationsmeldungen -->
<% if (info && info.length > 0) { %>
<div class="alert alert-info" role="alert">
  <%= info %>
</div>
<% } %>

<!-- Überprüfung und Anzeige von Warnmeldungen -->
<% if (warning && warning.length > 0) { %>
<div class="alert alert-warning" role="alert">
  <%= warning %>
</div>
<% } %>