<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../img/logoGR.png" alt="Logo"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Startseite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/equipment">Ausleihen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/borrows">Verleihen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Nutzer</a>
        </li>
      </ul>
      <a style="margin-right:1%" class="nav-link" href="/login"> <img src="../img/profile-icon.png" alt="profile"></a>
      <a class="nav-link" href="/cart"> <img style="border-radius:0" src="../img/cart.svg" alt="cart"></a>
    </div>
  </div>
</nav>