@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 14px "Tahoma", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

nav {
  background-color: #393D41;
}

.nav-link {
  color: white;
}

.active {
  background-color: #9AC8D5;
  border-radius: 0.1rem;
}

.nav-link :hover {
  color: #9AC8D5;
}

nav img {
  width: 45px;
  border-radius: 50%;
}

.btn img {
  width: 15px;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 200px;
  /* Maximalhöhe der Bilder */
  object-fit: cover;
  /* Bild proportional zuschneiden */
}


#equipFormular {
  display: none;
}

.navbar-nav {
  text-align: center;
}

.navbar-nav .nav-item {
  display: inline-block;
  float: none;
}

.navbar-nav .nav-item .nav-link {
  padding: .5rem 1rem;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: space-between;
  }

  .navbar-nav.ml-auto {
    margin-left: 5%;
    text-align: right;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  /* Hauptinhalt wächst und schrumpft, um den verfügbaren Platz zu füllen */
}

footer {
  flex-shrink: 0;
  /* Footer wird nicht verkleinert */
}