@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Farbvariablen definieren */
:root {
  --schwarz: #131516;
  --weiss: #DEE1E3;
  --hellgrau: #878F97;
  --mittelgrau: #6b7279;
  --dunkelgrau: #393D41;
  --blau: #9AC8D5;
  --hellblau: #b5e0f3;
  --highlight: #ffc107;
}

/* Grundstil für den Body */
body {
  font: 14px "Tahoma", Helvetica, Arial, sans-serif;
  background-color: var(--dunkelgrau) !important;
  color: var(--weiss);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Stil für den Footer */
footer {
  background-color: var(--schwarz);
  color: var(--weiss);
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

/* Schriftstile für Überschriften */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  color: var(--weiss) !important;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Stil für die Navigation */
nav {
  background-color: var(--schwarz);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Stil für Links in der Navigation */
.nav-link {
  color: var(--weiss);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--blau);
}

.active {
  background-color: var(--blau);
  border-radius: 0.1rem;
}

/* Suchleiste */
.searchbar {
  background-color: var(--mittelgrau);
  color: var(--weiss);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.searchbar input {
  background-color: var(--weiss);
  color: var(--schwarz);
  border: 1px solid var(--hellgrau);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.searchbar input:focus {
  border-color: var(--blau);
}

.searchbar button {
  background-color: var(--blau);
  color: var(--schwarz);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.searchbar button:hover {
  background-color: var (--hellgrau);
  color: var (--schwarz);
}

/* Stil für Bilder in der Navigation */
nav img {
  width: 45px;
  border-radius: 50%;
}

.btn img {
  width: 15px;
}

/* Stil für Karten */
.card {
  background-color: var(--mittelgrau);
  color: var(--schwarz);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
  border: 1px solid var(--hellgrau);
  padding: 0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Stil für den Karteninhalt */
.card .card-body {
  background-color: var(--mittelgrau);
  color: var(--weiss);
  border-radius: 5px 5px 0 0;
}

/* Stil für den Kartenfuß */
.card .card-footer {
  background-color: var(--dunkelgrau);
  color: var(--weiss);
  border-radius: 0 0 5px 5px;
}

.card-header {
  background-color: var(--dunkelgrau);
  color: var(--weiss);
}

/* Buttons in Karten */
.card .btn-primary {
  background-color: var(--blau);
  border: none;
  color: var(--schwarz);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn-primary:hover {
  background-color: var(--hellblau);
  color: var(--schwarz);
}

.card .btn-secondary {
  background-color: var(--schwarz);
  border: none;
  color: var(--weiss);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn-secondary:hover {
  background-color: var(--blau);
  color: var(--schwarz);
}

.card .btn-warning {
  background-color: var(--highlight);
  border: none;
  color: var(--schwarz);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn-warning:hover {
  background-color: #ec971f;
  color: var(--schwarz);
}

.card .btn-danger {
  background-color: #d9534f;
  border: none;
  color: var(--weiss);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card .btn-danger:hover {
  background-color: #c9302c;
  color: var(--weiss);
}

/* Stil für Bilder in Karten */
.card-img-top {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

/* Stil für Formular */
#equipFormular {
  display: none;
  background-color: var(--dunkelgrau);
  color: var(--weiss);
  border: 1px solid var(--hellgrau);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

/* Stil für Navigationsleisten */
.navbar-nav {
  text-align: center;
}

.navbar-nav .nav-item {
  display: inline-block;
  float: none;
}

.navbar-nav .nav-item .nav-link {
  padding: .5rem 1rem;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: space-between;
  }

  .navbar-nav.ml-auto {
    margin-left: 5%;
    text-align: right;
  }
}

/* Flexbox-Anpassungen für Hauptinhalt und Footer */
.content {
  flex: 1 0 auto;
  /* Hauptinhalt wächst und schrumpft, um den verfügbaren Platz zu füllen */
}

/* Zusätzliche Anpassungen */
.form-control {
  background-color: var(--dunkelgrau);
  color: var(--weiss);
  border: 1px solid var(--hellgrau);
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: var(--blau);
  outline: none;
  box-shadow: 0 0 5px var(--blau);
}

.form-control::placeholder {
  color: var(--hellgrau);
}

/* Buttons */
.btn-primary {
  background-color: var(--blau);
  border: none;
  color: var(--schwarz);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--hellblau);
  color: var(--schwarz);
}

.btn-success {
  background-color: var(--blau);
  border: none;
  color: var(--schwarz);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-success:hover {
  background-color: var(--hellgrau);
  color: var(--schwarz);
}

.btn-outline-success {
  border: 1px solid var(--blau);
  color: var(--blau);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-success:hover {
  background-color: var(--blau);
  color: var(--schwarz);
  border: 1px solid var(--blau);
}

/* Links ohne Klassen */
a {
  color: var(--hellblau);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--weiss);
  text-decoration: underline;
}

/* Zusätzliche Änderungen */
.gradient-bg {
  background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
}

.navbar-toggler {
  border-color: var(--blau);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28154,200,213,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

td {
  color: var(--weiss) !important;
  background-color: var(--mittelgrau) !important;
}

.card.disabled {
  background-color: var(--mittelgrau);
  opacity: 0.6;
  pointer-events: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.text-dark {
  color: var(--dunkelgrau) !important;
}